{% extends "base.html" %}

{% block body %}

<div id="card-container" class="container d-flex align-items-center justify-content-center">
  <Transition name="fade" mode="out-in">

    <!-- LANDING CARD -->
    <div v-if="step.welcome" class="card border-dark">
      <div class="card-header">&#128075;</div>
      <div class="card-body text-dark">
        <h5 class="card-title mb-3">Welcome to FoodIDentify!</h5>
        <p class="card-text">FoodIDentify is a TensorFlow classification model.</p>
        <p class="card-text">It has been trained on a data set of <strong>101</strong> different food types.</p>
        <p class="card-text">You can upload food images from your device and see if the model is abe to correctly
          identify
          your dish.</p>
        <button @click="updateStep('welcome','chooseFood')" class="btn btn-primary">Click here to get started</button>
      </div>
    </div>

    <!-- CHOOSE A FOOD FROM LIST STEP -->
    <div v-else-if="step.chooseFood" class="card border-dark">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <i class="fa-solid fa-list-check"></i> Food List
          </div>
          <div class="col text-end">
            <span>step 1/3</span>
          </div>
        </div>
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title mb-3">Click on a food name</h5>
        <p class="card-text">You will be redirected to Google images. Choose an image and save to your device.</p>
        <p class="card-text text-danger">.png or .jpg images only!</p>
        {% for i in range(0, food_list|length, 10) %}
        <div class="col-12 m-2">
          {% for food in food_list[i:i+10] %}
          <span class="m-2">
            <a href="https://www.google.com/search?q={{ food }}&tbm=isch" target="_blank" rel="noopener noreferrer"
              class="text-decoration-none">
              {{ food }}
            </a>
          </span>
          {% endfor %}
        </div>
        {% endfor %}
        <p class="card-text"><strong>Once you have an image saved press continue.</strong></p>
        <button @click="updateStep('chooseFood','uploadFood')" class="btn btn-primary">Continue To Next Step</button>
      </div>
    </div>

    <!-- UPLOAD CHOSEN FOOD STEP -->
    <div v-else-if="step.uploadFood" class="card border-dark">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <i class="fa fa-solid fa-cloud-arrow-up"></i> Time to upload
          </div>
          <div class="col text-end">
            <span>step 2/3</span>
          </div>
        </div>
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title mb-3">Upload the food image you saved from the previous step.</h5>
        <div class="row">
          <div class="col">
            <button @click="onClickUploadIcon" class="btn btn-primary">
              <i class="fa fa-solid fa-cloud-arrow-up me-2"></i> Click To Upload Image
            </button>
          </div>
          <div class="col text-end">
            <button @click="updateStep('uploadFood','chooseFood')" class=" btn btn-secondary text-end">Or go back to
              choose image again</button>
          </div>
        </div>
        <input ref="uploadInput" type="file" id="image-upload" accept="image/jpeg,image/jpg,image/png" class="d-none"
          v-on:change="handleImageUpload">
      </div>
    </div>

    <!-- PREDICT CHOSEN FOOD STEP -->
    <div v-else-if="step.predictFood" class="card border-dark">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <i class="fa-solid fa-circle-question"></i> Prediction Time!
          </div>
          <div class="col text-end">
            <span>step 3/3</span>
          </div>
        </div>
      </div>
      <div class="card-body text-dark text-center">
        <h5 class="card-title mb-5">Final Step!</h5>
        <div class="row">
          <div class="col" style="border-right: .5px solid grey;">
            <p class="text-center"><img v-if="previewImgUrl" v-bind:src="previewImgUrl" id="preview-img"
                style="max-width: 100%;"></p>
          </div>
          <div class="col d-flex align-items-center justify-content-center" style="border-left: .5px solid grey;">
            <div class="row">
              <div v-if="error" class="col-sm-12 mb-5">
                <h3 class="text-danger">An Error has Occured!</h3>
                <h3 class="text-danger">Please try again or refresh the page.</h3>
              </div>
              <div v-show="!PredictedResult.prediction && !loading" class="col-sm-12">
                <button @click="predictImage" :disabled="loading" class="btn btn-primary">PREDICT FOOD</button>
              </div>
            </div>
            <Transition>
              <div v-show="PredictedResult.prediction" class="row">
                <div class="col-sm-12 mb-3">
                  <h3>Prediction: <strong>${ PredictedResult.prediction }</strong>
                  </h3>
                </div>
                <div class="col-sm-12 mb-3">
                  <h3 v-show="PredictedResult.confidence">Confidence: <strong>${ PredictedResult.confidence }</strong>
                  </h3>
                </div>
                <div class="col-sm-12">
                  <p class="mb-0">Correct?</p>
                  <i @click="!voteCasted && vote('correct')" class="fa-solid fa-thumbs-up fa-3x m-4 vote-icon" style="color: green;"></i>
                  <i @click="!voteCasted && vote('incorrect')" class="fa-solid fa-thumbs-down fa-3x m-4 vote-icon" style="color: red;"></i>
                </div>
                <!-- <div class="col-sm-12">
                  <button @click="reset" class="btn btn-primary">Restart?</button>
                </div> -->
              </div>
            </Transition>
            <div v-if="loading" class="col-sm-12">
              <i class="fa-solid fa-spinner fa-spin-pulse fa-7x"></i>
            </div>
          </div>
        </div>

      </div>
    </div>

  </Transition>
</div>

{% endblock %}
